+<!--TODO implement devise User with name, complany, email, password-->
+<!--TODO implement create order with timestamps, also create table with expedition time-->
+<!--TODO implement top menu to users-->
+<!--TODO implement user has one active cart-->
+<!--TODO implement product image thumb and big image after click on it-->
+<!--TODO fix a little the layout-->
+<!--TODO connect this with alimpex DB-->
<div id="text">
  <h1> Zakaznicky eshop firmy Alimpex</h1>
  <p>Funguje kosik a generovani postranniho menu podle kategorii. Zatim nereseno jak bude fungovat generace pohledu,
  vzhledem k tomu, ze jsem zatim neresil JS, vytvarim pohled pro kazdou kategorii zvlast, coz je sice zdlouhave, ale ani
  nevim, jestli to jde udelat lepe..pravdepodobne proifovat. Uvidim az dodelam appku, jak pujde tuning</p>
</div>