@CHARSET "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    margin: 0;
    background-color: #11F9F0;
}
#head{
    margin: auto;
    width: 75%;
    height: 50px;
}

#menu{
    margin:auto;
    width: 75%;
    height:50px;
    background-color: #750AF9;
    position: fixed;
    top: 0;
}
nav {
    margin-left: 25%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: regular;
    height: 50px;
}

.menu-button {
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color: #0996DB;
    color: white;
    display: inline-block;
    width: 20%;
}

#content {
    margin: auto;
    width: 75%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #750AF9;
    position: fixed;
    height: 100%;
    overflow: auto;
}
li a {
    display: inline-block;
    background-color: #2E2F30;
    width: 85%;
    text-align: center;
    color: #0996DB;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: aquamarine;
    color: black;
}

#text{
    background-color: white;
    margin-left:13%;
    padding:1px 16px;
    height: auto;
}