<!DOCTYPE html>
<html>
<head>
  <title>AlimpexCustomerShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="head">
  <div id="menu">
    <nav>
      <a class="menu-button" href="index.html">REGISTROVAT</a> <a
    class="menu-button" href="looking-for.html">PRIHLASIT</a> <a
    class="menu-button" href="sitter.html">MUJ UCET</a>
    </nav>
  </div>

</section>
<section id="content">
  <%= yield %>
</section>
</body>
</html>
